
<ul class="grid">
    <li class= "offerings">
      <h2>Our CLass Offerings</h2>
    </li>
    <li class= "ballet">
        <img src="https://cdn.glitch.com/82a46cd3-6336-42f9-9881-2be3f5a54a0d%2Fliel-anapolsky-92Y-xUOJRWA-unsplash.jpg?v=1607549057254" alt="">
        <h3>Ballet</h3>
        <div class="overlay">
          <p>Six Levels of Ballet begin for dancers ages 6-9 years, addressing basic traveling patterns and fundamental positions and movements.</p>
          </div>
    </li>
    <li class="pointe">
        <img src="https://cdn.glitch.com/82a46cd3-6336-42f9-9881-2be3f5a54a0d%2Fjade-scarlato-sfHAnVfEkiU-unsplash.jpg?v=1607549050445" alt="">
        <h3>Pointe</h3>
        <div class="overlay">
          <p>Pre-Pointe is reserved for dancers who have reached Level 3 Ballet who seek the conditioning necessary for future Pointe work.</p>
        </div>
    </li>
    <li class="modern">
        <img src="https://cdn.glitch.com/82a46cd3-6336-42f9-9881-2be3f5a54a0d%2Folivia-bauso-nKWXb8EGzO0-unsplash.jpg?v=1607549062837" alt="">
        <h3>Modern</h3>
        <div class="overlay">
          <p>Six Levels of Modern begin for new modern dancers ages 6-9 with basic technique. Dancers progress to Level 2 with additional ballet and modern dance experience, focusing on developing more lyrical patterns.</p>
          </div>
    </li>
    <li class="tap">
        <img src="https://cdn.glitch.com/82a46cd3-6336-42f9-9881-2be3f5a54a0d%2Ffabian-schneider-1qGnaSjXiWo-unsplash.jpg?v=1607549037694" alt="">
        <h3>Tap</h3>
        <div class="overlay">
          <p>Tap is available for new tappers ages 4-5 up through the most advanced tappers in Level 3. Tap students will advance through progressing rhythm, motor, and technical skill.</p>
          </div>
    </li>
    <li class="jazz">
        <img src="https://cdn.glitch.com/82a46cd3-6336-42f9-9881-2be3f5a54a0d%2Fmurilo-bahia-GxFw4_pKMN8-unsplash.jpg?v=1607549069764" alt="">
        <h3>Jazz</h3>
        <div class="overlay">
          <p>For students in Level 2 and beyond interested in learning about a variety of age-appropriate hip hop rhythms and styles.Morton Street now offers two Hip Hop classes for younger dancers 4-5 years and 6-7 years, respectively.</p>
          </div>
    </li>
    <li class="hip">
        <img src="https://cdn.glitch.com/82a46cd3-6336-42f9-9881-2be3f5a54a0d%2Fbreakreate-yzNZ5SrVIoE-unsplash.jpg?v=1607549042563" alt="">
        <h3>Hip-Hop</h3>
        <div class="overlay">
          <p>Two Levels of Jazz are available to dancers in Level 2 and beyond, seeking fun, fast-paced movement, jumps, leaps, turns, and a variety of style.</p>
          </div>
    </li>
    <li class="african">
        <img src="https://cdn.glitch.com/82a46cd3-6336-42f9-9881-2be3f5a54a0d%2Fariella-horvath-HJ8FzzCVM3c-unsplash.jpg?v=1607549036651" alt="">
        <h3>African</h3>
        <div class="overlay">
          <p>Open to dancers ages 8 and older, this class is a blend of traditional African dance and Dunham Technique. Dunham merges the subtleties of African and Caribbean movement patterns with the fundamentals of ballet and modern technique: a fun class for all levels!</p>
          </div>
    </li>
    <li class="little">
        <img src="https://cdn.glitch.com/82a46cd3-6336-42f9-9881-2be3f5a54a0d%2Fanabelle-carite-Ip0wlfRtDks-unsplash.jpg?v=1607549034708" alt="">
        <h3>Little Ones</h3>
        <div class="overlay">
          <p>Creative Movement:For young students ages 3-5. This class will develop skill in rhythm, balance, elemental patterning, etc. PreDance: For 4-5 year olds who have mastered the concepts introduced in Creative Movement. This class introduces ballet and modern dance fundamentals.</p>
          </div>
    </li>
    <li class="repertory">
        <img src="https://cdn.glitch.com/82a46cd3-6336-42f9-9881-2be3f5a54a0d%2Fjurien-huggins-5QYyo1F4ww4-unsplash.jpg?v=1607549059455" alt="">
        <h3>Repertory</h3>
        <div class="overlay">
          <p>Designed for students, ages 8 and over in Level 2 and above, with a desire to dance and learn, at an accelerated pace,repertory material, which is reserved and often repeated as it would be the case in a professional company.Participation in Repertory may afford additional opportunities to perform during the year.</p>
          </div>
    </li>          
    <li class="adult">
        <img src="https://cdn.glitch.com/82a46cd3-6336-42f9-9881-2be3f5a54a0d%2Fisaiah-mcclean-9_D4NtyYHE8-unsplash.jpg?v=1607549048591" alt="">
        <h3>Adult Classes</h3>
        <div class="overlay">
          <p>Class cards may be used for any of the adult classes on our schedule, and you are welcome to take multiple classes in one week! If you are looking to take 1 class per week, we recommend drop-ins, a 5 class card, or a 10 class card.If you are looking to take multiple classes a week, our 20 class, and 50 class cards are the best deals.</p>
          </div>
    </li>
</ul>

