<nav class="site-nav js-toggle-menu">
  <button type="button" class="u-button-reset js-toggle-trigger" id="hamburger" aria-controls="site-menu">
    <span aria-hidden="true" class="menu-icon">
      <div class="menu-icon__line"></div>
      <div class="menu-icon__line"></div>
      <div class="menu-icon__line"></div>
    </span>
  </button>


  <ul id="site-menu" class="u-list-reset">
    <a class="site-name" href="/">Morton Street Dance Center</a>
    {% assign nav = collections.nav | sortByPageOrder %}
    {% for item in nav %}
    <li{% if page.url == item.url %} aria-current="page" {% endif %}>
      <a href="{{ item.url }}">
        {{ item.data.pageTitle }}
      </a>
      </li>
      {% endfor %}
  </ul>
</nav>



