<footer class="site-footer">
    <h2>Morton Street Dance Center</h2>
    <ul>
        <li>Site Map</li>
        <li>About</li>
        <li>Classes</li>
        <li>Registration</li>
        <li>Contact</li>
    </ul>
    <ul>
        <li>Social Media</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>Pinterest</li>
    </ul>
    <ul>
        <li>Office Hours</li>
        <li>Monday: 11:15am-6:15pm</li>
        <li>Tuesday: 10:30am-6:30pm</li>
        <li>Wednesday: 1:30pm-6pm</li>
        <li>Thursday/Friday: 10am-6pm</li>
        <li>Saturday: 8:30am-2:30pm</li>
    </ul>
    <ul>
        <li>Tel. 410-235-9003</li>
        <li><a href="mailto:information@mortonstreetdance.com">information@mortonstreetdance.com</a></li>
        <li>Address. 3600 Clipper Mill Road, Suite 108, Baltimore, MD 21211</li>
    </ul>
    <p>© 2020 by Morton Street Dance Center, Inc.</p>
</footer>
