<nav class="slideshow-actions js-slide-actions" hidden>
    <button type="button" class="u-button-reset button-play-pause js-slide-toggle">
      <svg aria-hidden="true" focusable="false" role="img" class="slideshow-icon js-pause">
        <use xlink:href="#icon-pause"></use>
      </svg>
      <svg aria-hidden="true" focusable="false" role="img" class="slideshow-icon js-play">
        <use xlink:href="#icon-play"></use>
      </svg>
    </button>
    <button type="button" class="u-button-reset button-prev js-slide-prev">
      <svg aria-hidden="true" focusable="false" role="img" class="slideshow-icon">
        <use xlink:href="#icon-prev"></use>
      </svg>
    </button>
    <button type="button" class="u-button-reset button-next js-slide-next">
      <svg aria-hidden="true" focusable="false" role="img" class="slideshow-icon">
        <use xlink:href="#icon-next" />
      </svg>
    </button>
  </nav>
  <nav class="slideshow-nav js-slide-nav" hidden>
    <ol class="u-list-reset">
      {% for slide in testimonials.slides %}
      <li>
        <button type="button" class="u-button-reset">
          <span class="u-sr-only">
          </span>
        </button>
      </li>
      {% endfor %}
    </ol>
  </nav>
  