// Add your variables for colors, fonts, etc. here
$color-black:black;
$color-white: white;
$color-grey: #ccc;

$color-yellow: #F6F930;
$color-mint: #A2F1C1;
$color-slate: #22333B;


$color-text-body: $color-slate;
$color-text-link: $color-offblack;
$color-text-link-visited: $color-text-body;


$font-mono: "IBM Plex Mono",
monospace;
