// Add your variables for colors, fonts, etc. here
$color-lblue: #3275E1;
$color-dblue: #142659;
$color-lgreen: #009776;
$color-dgreen: #265250;
$color-red: #ED494A;


$color-text-body: black;
$color-text-link: white;
$color-text-link-visited: $color-text-link;

$font-body: "Space Grotesk", sans-serif;
$font-mono: "Syne Mono", monospace;
