// Add your variables for colors, fonts, etc. here
$color-black:black;
$color-white: white;

$color-lblue: #F6F930;
$color-dblue: #A2F1C1;
$color-lgreen: #22333B;
$color-dgreen: #22333B;


$color-text-body: $color-black;
$color-text-link: $color-white;
$color-text-link-visited: $color-text-link;


$font-mono: "Syne Mono", monospace;
