.start{
    text-align: -webkit-match-parent;
    position: relative;
    // margin: 0 auto;
    img{
        width: 100%;
        display: block; 
    }
    h2{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.about{
    background-color: $color-lblue;
    padding: 1em;

    p{
        width: 85%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
    }
}
.profile1{
    background-color: $color-lblue;
}
.profile2{
    background-color: $color-dblue;
}
.profile3{
    background-color: $color-dgreen;
}
.profile4{
    background-color: $color-lgreen;
}

.testimonials{
    background-color: $color-lblue;
    padding: 10%;
    text-align: center;
}
