.start{
    text-align: -webkit-match-parent;
    position: relative;
    // margin: 0 auto;
    img{
        width: 100%;
        display: block; 
    }
    h2{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.about{
    background-color: $color-lblue;
    padding: 1em;

    p{
        width: 85%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
    }
}
.teachers{
    padding: 10% 0;
    border: 1.5px solid black;
    text-align: center;
    background-color: $color-lgreen;
}
.profile {
    img{
        width:30%;
    }
}
