.start{
    text-align: center;
}
.start img{
    width: 100%;
}
.start h2{
    color: white;
    position: absolute; 
    // margin: 0 auto;
    // padding: 50px 0;
    
}
.about{
    background-color: $color-lblue;
    padding: 1em;
}
.about p{
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}
