.button-reset { 
    width: 350px;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

.button {
    text-align: center;
    background-color: black;
    border-radius: 60px;
    color: white;
    font-size: 1em;
    padding: 12px 30px;
    margin: 10px 10px 10px 0;
    transition: all 300ms ease-in-out;
    &:hover, &:focus{
        background: white;
        color: black;
    }
}
#lmore-btn {
    justify-content: flex-start;
    width: 80%;
    border: none;
    padding: 0;
}   
.button-submit {
    border: 1px solid black;
    text-align: center;
    border-radius: 60px;
    color: black;
    font-size: 1em;
    padding: 12px 30px;
    transition: all 300ms ease-in-out;
    &:hover, &:focus{
        background: black;
        color: white;
    }
}
