input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: solid 2px black;
    background: $color-lblue;
    &:focus, &:valid {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      &::-webkit-input-placeholder {
        color: black;
        font-family: "space grotesk", san-serif;
        font-size: 16px;
        // transform: translateY(-20px);
        visibility: visible !important;
      }
    }
  }
  .u-sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
  }

  @media (min-width: 900px) {
  input{
    display: inline-block;
    margin: 1%;
  }
  input:not(#message) {
    width: 47%;
  }
  #message{
    width: 96.6%;
  }
}
