input {
    // margin: 40px 25px;
    width: 350px;
    display: block;
    border: none;
    padding: 25px 0;
    border-bottom: solid 1px black;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, black 4%);
    background-position: -200px 0;
    // background-size: 200px 100%;
    // background-repeat: no-repeat;
    color: darken ($color-dgreen, 20%);
    &:focus, &:valid {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      &::-webkit-input-placeholder {
        color: black;
        font-size: 12px;
        transform: translateY(-20px);
        visibility: visible !important;
      }
    }
  }
