.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.about{
    width: 100%;
}
img{
  display: block;
}
.text{
    background-color: $color-lblue;
    border: 1.5px solid black;
    padding: 30% 10%;
}

.offerings{
    // position: relative;
    margin:0;
    background-color: $color-lgreen;
    border: 2px solid #000000;
    padding: 10%;
    text-align: center;
}
.register{
    width: 100%;
    background-color: $color-lgreen;
    border: 1.5px solid black;
    padding: 10%;
    h2{
        text-align: center;
    }
}

.contact{
    width: 100%;
    background-color: $color-lblue;
    border: 1.5px solid black;
    padding: 10%;
    h2{
        text-align: center;
    }
    iframe{
        width: 100%;
        // height: 450px;
        border:0;
        border-radius: 20px;

    }
}

.grid li img {
    width: 100%;
    border: 2px solid black;
    border-radius: 50%;
}
.grid li {
    border: 1.5px solid black;
    list-style: none;
    position: relative;
}

.grid li h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF
}
.grid {
    padding: 0;
    margin: 0;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "offerings offerings"
        "ballet modern "
        "pointe modern"
        "tap hip"
        "jazz african"
        "little repertory"
        "little adult";
}

.offerings {
    grid-area: offerings;
}

.ballet {
    background-color: #3275e1;
    grid-area: ballet;
}

.pointe {
    background-color: #192753;
    grid-area: pointe;
}

.modern {
    background-color: #192753;
    background-color: #24504F;
    grid-area: modern;
}

.tap {
    background-color: #192753;
    grid-area: tap;
}

.jazz {
    background-color: #24504F;
    grid-area: jazz;
}

.hip {
    background-color: #3275e1;
    grid-area: hip;
}

.african {
    background-color: #192753;
    grid-area: african;
}

.little {
    background-color: #3275e1;
    grid-area: little;
}

.repertory {
    background-color: #192753;
    grid-area: repertory;
}

.adult {
    background-color: #24504F;
    grid-area: adult;
}
