.site-footer {
    background-color: black;
    color: white;
    padding: 10%;

    ul {
        padding: 0;
        li {
            list-style: none;
            margin: 0;
            a {
                color: white;
            }
        }
    }
}

h2 {
    font-family: $font-mono;
}
