.site-nav {
    background-color: $color-black;
  
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    li {
  
      +li {
        a {
          margin-left: 50px;
        }
      }
    }
    li:nth-child(1){
        display: flex;
        margin-right: auto;
        color: $color-black;
        display: inline-block;
        font-family: $font-mono;
        font-size: 16px;
        text-decoration: none;
        -webkit-text-stroke: 1px rgba(white, 22%);
    }

    li:nth-child(6){
        display: flex;
        margin-left: auto;
    }
  
    a {
      color: $color-white;
      display: block;
      font-family: $font-body;
      font-size: 16px;
      font-weight: 700;
      padding: 28px;
      text-decoration: none;
  
      &:hover,
      &:focus {
        color: $color-red;
      }
    }
  
    // [aria-current] a {
    //   border-bottom-color: $color-black;
    //   cursor: default;
    // }
  }
  