.site-nav {
    background-color: $color-black;
  
    ul {
      display: flex;
      justify-content: center;
    }
  
    li {
  
      +li {
        a {
          margin-left: 50px;
        }
      }
    }
  
    a {
      color: $color-white;
      display: block;
      font-family: $font-body;
      margin-bottom: -3px;
      padding: 12px;
      text-decoration: none;
  
      &:hover,
      &:focus {
        color: $color-red;
      }
    }
  
    // [aria-current] a {
    //   border-bottom-color: $color-black;
    //   cursor: default;
    // }
  }
  