.site-footer {
    background-color: black;
    color:white;
    padding: 10%;
    li{
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    li:nth-child(1) {
        font-weight: 700;
     }
    a {
         color: white;
     }
}

h2{
    font-family: $font-mono;
}
